.vs/
obj/
bin/
*.user
expo_Software_and_Site/app_desktop/comprehensure/comprehensure.csproj.user
expo_Software_and_Site/app_desktop/comprehensure/Resources/Styles/Styles.xaml
*.rar

expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY/secrets.json
expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY/secrets.json
expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY/secrets.json
/expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY
/expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY
/expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY
expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/Firebase_api/API_KEY/secrets.json
expo_Software_and_Site/app_desktop/comprehensure/Resources/Raw/secrets.json
expo_Software_and_Site/app_desktop/comprehensure.zip
